<!--=========================================================================================================
                    A B O U T   M E  
==========================================================================================================-->	
<div id="about-me">
  <div id="about-nav">
    <!-- Mobil Header -->
    <header class="about-header" >
      <h5>ABOUT ME</h5>
      <div class="line-366" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
    </header>	<!-- end Mobil Header -->
      
    <div class="open-button-vita">VITA</div>
    <div class="open-button-skills">SKILLS</div>
    <div class="open-button-say">SAY HI!</div>	
      
    <!-- FEED MOBIL-->
    <!-- Please insert your Twitter ID in Line 311 " data-widget-id='your ID' " -->
    <div id="feed">
      <i class="icon-twitter icon-2x" ></i>
      <div class="line-366" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
      <div class="tweet-box"> 
        <div class="box-wrap antiscroll-wrap" >
          <div class="antiscroll-inner" > 
            <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="344795593878679555" data-chrome="nofooter, noheader transparent" data-tweet-limit="6" data-link-color="#000" data-theme="dark"  data-border-color="#000" data-show-replies="true" data-aria-polite="assertive">
              Tweets by @twitterapi
            </a>	
          </div>
        </div>	
      </div>
    </div>	<!-- end Feed MOBIL-->
  </div>	

  <!-- Mobil Vita -->
  <div id="vita" >			
    <div id="vita-inner">		
      <div class="box-wrap antiscroll-wrap"  >
        <div class="antiscroll-inner"  > 
          <div class="inner-text"   >
            <!-- Mobil Header -->
            <header class="header" >
              <h5>VITA</h5>
              <div class="line-366" >
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
            </header>	<!-- end Mobil Header -->
            <h1>WORK EXPERIENCE</h1>
            <div class="block">
              <h5>SINCE 2011</h5>
              <div class="line-366" >
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <h4>PROGRAMMER</h4>
              <h3>UPLEDA DESIGN, STOCKHOLM</h3>
              <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
            </div>
            <div class="block">
              <h5>2008 - 2011</h5>
              <div class="line-366">
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <h4>UI DESIGNER</h4>
              <h3>FINAL DESIGN, VIENNA</h3>
              <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
            </div>
            <div class="block">
              <h5>2006 - 2008</h5>
              <div class="line-366" >
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <h4>ART DIRECTOR</h4>
              <h3>TOGOGO DESIGN, STOCKHOLM</h3>
              <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
            </div>
                    
            <h1>EDUCATION</h1>
            <div class="block">
              <h5>SINCE 2011</h5>
              <div class="line-366">
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <h4>PROGRAMMER</h4>
              <h3>UPLEDA DESIGN, STOCKHOLM</h3>
              <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
            </div>
            <div class="block">
              <h5>2008 - 2011</h5>
              <div class="line-366">
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <h4>UI DESIGNER</h4>
              <h3>FINAL DESIGN, VIENNA</h3>
              <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
            </div>	
            <div class="block last-block" >
              <h5>2006 - 2008</h5>
              <div class="line-366">
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <h4>ART DIRECTOR</h4>
              <h3>TOGOGO DESIGN, STOCKHOLM</h3>
              <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
            </div>
            <h1>TESTIMONIAL</h1>
            <div class="block-3" >
              <h5>GETTY IMAGES INC.</h5>
              <div class="line-366" >
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <div class="inner-block-3">
                <i class="icon-quote-left icon-1x" ></i><span class="text-testi">A lore ipsum of praise and glory.</span><i class="icon-quote-right icon-1x" ></i>
              </div>
              <h4>MARC SMITH</h4>
              <h3>mark.smith@company.com</h3>
            </div>
            <div class="block-3 last-block-3" >
              <h5>FOSTERS &amp; PARTNERS</h5>
              <div class="line-366" >
                <div class="line-1"></div>
                <div class="deg-130"></div>
                <div class="deg-50"></div>
                <div class="line-2"></div>
              </div>
              <div class="inner-block-3" >
                <i class="icon-quote-left icon-1x" ></i>
                <span class="text-testi" >Here imagination and Spirit is unmatched.</span>
                <i class="icon-quote-right icon-1x" ></i>
              </div>
              <h4>KIMIKO HANSEN</h4>
              <h3>kimiko.hansen@company.com</h3>
            </div>
            <div class="top-button">BACK</div>
          </div>	<!-- Mobil Vita -->
        </div>	<!-- end Antiscroll Inner -->
      </div>	<!-- end Box-Wrap -->
    </div>	<!-- end Mobil Vita Inner -->
  </div>	<!-- end Mobil Vita -->
            
  <!-- Mobil Skills -->
  <div id="skills">
    <div class="skills-inner">
      <!-- Mobil Header -->
      <header class="header" >
        <h5>SKILLS</h5>
        <div class="line-366" >
          <div class="line-1"></div>
          <div class="deg-130"></div>
          <div class="deg-50"></div>
          <div class="line-2"></div>
        </div>
      </header>	<!-- end Mobil Header -->
      
      <div class="container">
        <div class="inner-container">
          <div class="chart-dark">
            <div class="percentage-black" data-percent="100"><span>100</span>%</div>
            <div class="label">PHOTOSOP</div>
          </div>
          <div class="chart-light">
            <div class="percentage-white" data-percent="100"><span>100</span>%</div>
            <div class="label">HTML5/CSS3</div>
          </div>
          <div class="chart-light">
            <div class="percentage-white" data-percent="90"><span>90</span>%</div>
            <div class="label">INDESIGN</div>
          </div>
          <div class="chart-dark">
            <div class="percentage-black" data-percent="90"><span>90</span>%</div>
            <div class="label">JAVASCRIPT</div>
          </div>
          <div class="chart-dark">
            <div class="percentage-black" data-percent="80"><span>80</span>%</div>
            <div class="label">PHP</div>
          </div>
          <div class="chart-light">
            <div class="percentage-white" data-percent="80"><span>80</span>%</div>
            <div class="label">ILLUSTRATOR</div>
          </div>	
          <div class="chart-light">
            <div class="percentage-white" data-percent="60"><span>60</span>%</div>
            <div class="label">WORDPRESS</div>
          </div>
          <div class="chart-dark">
            <div class="percentage-black" data-percent="70"><span>70</span>%</div>
            <div class="label">ANALOG</div>
          </div>
        </div>	
      </div>	<!-- end container -->
      <div class="top-button" >BACK</div>
    </div>	<!-- end mobil-skills-inner -->
  </div>	<!-- end MOBIL SKILLS -->	
          
  <!-- MOBIL CONTACT -->
  <div id="say">
    <div class="say-inner">
      <!-- Mobil Header -->
      <header class="header" >
        <h5>CONTACT</h5>
        <div class="line-366" >
          <div class="line-1"></div>
          <div class="deg-130"></div>
          <div class="deg-50"></div>
          <div class="line-2"></div>
        </div>
      </header>	<!-- end Mobil Header -->
      <div id="contact-mobil">
        <div class="contact-top">
          <i class="icon-envelope-alt icon-2x" ></i>
          <div class="line-366" >
            <div class="line-1"></div>
            <div class="deg-130"></div>
            <div class="deg-50"></div>
          <div class="line-2"></div>
          </div>
          <h1><a href="mailto:darren@cauthon.com">DARREN@CAUTHON.COM</a></h1>
        </div>	
        <div class="contact-bottom">
          <i class="icon-phone icon-2x" ></i>
          <div class="line-366" >
            <div class="line-1"></div>
            <div class="deg-130"></div>
            <div class="deg-50"></div>
            <div class="line-2"></div>
          </div>
          <h1>+01 1234-567890</h1>
        </div>	
      </div>	<!-- end Contact -->
      <div class="top-button">BACK</div>
    </div>	<!-- end mobil-say-inner -->
  </div>	<!-- end MOBIL CONTACT -->
</div>	<!-- E N D   M O B I L   A B O U T   M E -->
