<!--=========================================================================================================
                      A B O U T   M E  
==========================================================================================================-->			
<div id="about-me">
  <h2>ABOUT-ME</h2>

          
  <!-- left Side of About Me -->
  <div id="about-left">					
    <div class="box-wrap antiscroll-wrap" >
      <div class="antiscroll-inner" > 
        <div class="inner-text">
        
          <!--==============================
                V I T A 
          ===============================-->
          <h1 class="pcblock" >WORK EXPERIENCE</h1>
          <div class="block">
            <h5>SINCE 2011</h5>
            <div class="line-200" >
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <h4>PROGRAMMER</h4>
            <h3>UPLEDA DESIGN, STOCKHOLM</h3>
            <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
          </div>
          <div class="block">
            <h5>2008 - 2011</h5>
            <div class="line-200">
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <h4>UI DESIGNER</h4>
            <h3>FINAL DESIGN, VIENNA</h3>
            <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
          </div>
          <div class="block">
            <h5>2006 - 2008</h5>
            <div class="line-200" >
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <h4>ART DIRECTOR</h4>
            <h3>TOGOGO DESIGN, STOCKHOLM</h3>
            <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
          </div>
          
          <h1 class="pcblock" >EDUCATION</h1>
          <div class="block">
            <h5>SINCE 2011</h5>
            <div class="line-200">
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <h4>PROGRAMMER</h4>
            <h3>UPLEDA DESIGN, STOCKHOLM</h3>
            <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
          </div>
          <div class="block">
            <h5>2008 - 2011</h5>
            <div class="line-200">
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <h4>UI DESIGNER</h4>
            <h3>FINAL DESIGN, VIENNA</h3>
            <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
          </div>
          <div class="block">
            <h5>2006 - 2008</h5>
            <div class="line-200">
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <h4>ART DIRECTOR</h4>
            <h3>TOGOGO DESIGN, STOCKHOLM</h3>
            <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards, templates and recources.</p>
          </div>
          
          <h1 class="pcblock" >TESTIMONIAL</h1>
          <div class="block-3">
            <h5>GETTY IMAGES INC.</h5>
            <div class="line-200" >
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <i class="icon-quote-left icon-1x" ></i><span >A lore ipsum of praise and glory.</span><i class="icon-quote-right icon-1x" ></i>
            <h4>MARC SMITH</h4>
            <h3>mark.smith@company.com</h3>
          </div>
          <div class="block-3">
            <h5>FOSTERS &amp; PARTNERS</h5>
            <div class="line-200" >
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
            <i class="icon-quote-left icon-1x" ></i><span >Her imagination and spirit is unmatched.</span><i class="icon-quote-right icon-1x" ></i>
            <h4>KIMIKO HANSEN</h4>
            <h3 class="last-h3">kimiko.hansen@company.com</h3>
          </div>
        </div>	<!-- end inner-text -->
      </div> <!-- end antiscroll-inner -->
    </div>	<!-- end antiscroll-wrap -->
  </div>	<!-- end ABOUT LEFT -->

  <!-- Middle of About me-->					
  <div id="about-middle">					
    <div class="box-1">
      <div class="navi-left">
        <div class="rotate-90-4" >VITA</div>
        <div class="rotate-90-3" >SKILLS</div>
      </div>
    </div>
    <div class="box-2"></div>
    <div class="box-1">
      <div class="navi-right" >
        <div class="rotate-90-3" >SAY&nbsp;HI!</div>
      </div>
    </div>
    <div class="box-2">
      <div class="navi-right" >
        <div class="rotate-90-2" >FEED</div>
      </div>
    </div>
  </div>	<!-- end About Middle -->

  <!-- right Side of About Me -->
  <div id="about-right">		

    <!--==============================
          S K I L L S
    ===============================-->	
    <div class="container">
      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="vertical">
          <div class="chart-dark">
            <div class="percentage-black" data-percent="100"><span>PHOTOSOP</span></div>
          </div>
          <div class="chart-light">
            <div class="percentage-white" data-percent="100"><span>HTML5/CSS3</span></div>
          </div>
        </div>
      </div>
      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="horizontal">
          <div class="chart-light">
            <div class="percentage-white" data-percent="80"><span>ILLUSTRATOR</span></div>
          </div>	
          <div class="chart-dark">
            <div class="percentage-black" data-percent="90"><span>JAVASCRIPT</span></div>
          </div>
        </div>
      </div>	
      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="horizontal">
          <div class="chart-light">
            <div class="percentage-white" data-percent="90"><span>INDESIGN</span></div>
          </div>
          <div class="chart-dark">
            <div class="percentage-black" data-percent="80"><span>PHP</span></div>
          </div>
        </div>
      </div>			

      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="vertical">
          <div class="chart-dark">
            <div class="percentage-black" data-percent="70"><span>ANALOG</span></div>
          </div>
          <div class="chart-light">
            <div class="percentage-white" data-percent="60"><span>WORDPRESS</span></div>
          </div>
        </div>
      </div>	
    </div>	<!-- end skills -->
        
    <!--==============================
          S K I L L S   IE8
    ===============================-->	
    <div class="container-ie8">
      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="vertical">
          <div class="chart-dark-ie8">
          <span class="percent">100%</span>
            <div class="label">PHOTOSOP</div>
          </div>
          <div class="chart-light-ie8">
            <span class="percent">100%</span>
            <div class="label">HTML5/CSS3</div>
          </div>
        </div>
      </div>
      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="horizontal">
          <div class="chart-light-ie8">
            <span class="percent">90%</span>
            <div class="label">ILLUSTRATOR</div>
          </div>
          <div class="chart-dark-ie8">
            <span class="percent">100%</span>
            <div class="label">JAVASCRIPT</div>
          </div>
        </div>
      </div>	
      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="horizontal">
          <div class="chart-light-ie8">
            <span class="percent">50%</span>
            <div class="label">INDESIGN</div>
          </div>
          <div class="chart-dark-ie8">
            <span class="percent">100%</span>
            <div class="label">PHP</div>
          </div>
        </div>
      </div>			

      <div class="tiles">
        <div class="live-tile" data-mode="flip" data-delay="10000" data-direction="vertical">
          <div class="chart-dark-ie8">
            <span class="percent">90%</span>
            <div class="label">ANALOG</div>
          </div>
          <div class="chart-light-ie8">
            <span class="percent">80%</span>
            <div class="label">WORDPRESS</div>
          </div>
        </div>
      </div>	
    </div>	<!-- end skills IE 8 -->
    
    <!--==============================
          C O N T A C T
    ===============================-->
    <div id="contact">
      <i class="icon-envelope-alt icon-2x"></i>
      <div class="line-200" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
      <h1><a href="mailto:darren@cauthon.com" >DARREN@CAUTHON.COM</a></h1>
      <div id="contact-footer">
        <i class="icon-phone icon-2x" ></i>
        <div class="line-200" >
          <div class="line-1"></div>
          <div class="deg-130"></div>
          <div class="deg-50"></div>
          <div class="line-2"></div>
        </div>
        <h1>+01 1234-567890</h1>
      </div>
    </div>	<!-- end Contact -->
    
    <!--==============================
          F E E D		
    ===============================-->
    
    <!-- Please insert your Twitter ID in Line 698 " data-widget-id='your ID' " -->
    <div id="feed">
      <i class="icon-twitter icon-2x" ></i>
      <div class="line-200" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
      <div class="tweet-box"> 
        <div class="box-wrap antiscroll-wrap">
          <div class="antiscroll-inner"> 
            <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="344795593878679555" data-chrome="nofooter, noheader transparent" data-tweet-limit="6" data-link-color="#000" data-theme="dark"  data-border-color="#000" data-show-replies="true" data-aria-polite="assertive">
              Tweets by @twitterapi
            </a>	
          </div>
        </div>	
      </div>
    </div>	<!-- end Feed -->
    
  </div>	<!-- end about-right -->
</div>	<!-- end ABOUT ME -->
