<body >	
  <div id="bWin"></div>

  <div id="wrapper">
    <%= erb :main_navi_mobile %>
    
    <section id="content">
      <%= erb :home_mobile %>
      <%= erb :about_me_mobile %>
      <%= erb :portfolio_mobile %>
        
      <!--=========================================================================================================
                            B L O G  
      ==========================================================================================================-->	
      <div id="blog">
        <h2>BLOG</h2>			
        <div id="left-blog">
          <div class="box-wrap antiscroll-wrap" >
            <div class="antiscroll-inner"> 
              <div class="inner-text" >
                
                <h1>LATEST ENTRYS</h1>
                <div class="block">
                  <h5>03 MARCH 2013</h5>
                  <div class="line-366">
                    <div class="line-1"></div>
                    <div class="deg-130"></div>
                    <div class="deg-50"></div>
                    <div class="line-2"></div>
                  </div>
                  <img src="images/blog/entry1_thumb.jpg" width="400" height="100" alt="">
                  <h4>EXAMPLE FOR A POST WITH IMAGE</h4>
                  <span>BY</span> <h3>DARREN CAUTHON</h3>
                  <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview develop graphical standard.
                  <a href="">Continue...</a></p>
                  <i class="icon-tags icon-1x" ><span>DESIGN</span></i>
                  <i class="icon-comments icon-1x" ><span>03</span></i>
                </div>
                <div class="block">
                  <h5>13 FEBRUARY 2013</h5>
                  <div class="line-366">
                    <div class="line-1"></div>
                    <div class="deg-130"></div>
                    <div class="deg-50"></div>
                    <div class="line-2"></div>
                  </div>
                  <h4>EXAMPLE FOR A TEXT ONLY ENTRY</h4>
                  <span>BY</span> <h3>ADMIN</h3>
                  <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview develop graphical standard.
                  <a href="">Continue...</a></p>
                  <i class="icon-tags icon-1x" ><span>BOOKS, AUSTRALIA</span></i>
                  <i class="icon-comments icon-1x" ><span>12</span></i>
                </div>
                <div class="block">
                  <h5>03 MARCH 2013</h5>
                  <div class="line-366">
                    <div class="line-1"></div>
                    <div class="deg-130"></div>
                    <div class="deg-50"></div>
                    <div class="line-2"></div>
                  </div>
                  <img src="images/blog/entry2_thumb.jpg" width="400" height="100" alt="">
                  <h4>EXAMPLE FOR A POST WITH IMAGE</h4>
                  <span>BY</span> <h3>DARREN CAUTHON</h3>
                  <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview develop graphical standard.
                  <a href="">Continue...</a></p>
                  <i class="icon-tags icon-1x" ><span>FASHION</span></i>
                  <i class="icon-comments icon-1x" ><span>07</span></i>
                </div>
                <div class="top-button">BACK</div>
              </div>
            </div>
          </div>
        </div>	<!-- end blog-left -->

        <div id="blog-main-nav">
          <!-- Mobil Header -->
          <header class="header" >
            <h5>BLOG</h5>
            <div class="line-366" >
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
          </header>	<!-- end Mobil Header -->
          <div class="open-button-latest">LATEST ENTRYS</div>
          <div class="open-button-archive">ARCHIVES</div>
          <div class="open-button-categorie">CATEGORIES</div>						
        </div>

        
        <div id="blog-nav">
          <!-- Mobil Header -->
          <header class="header" >
            <h5>BLOG</h5>
            <div class="line-366" >
              <div class="line-1"></div>
              <div class="deg-130"></div>
              <div class="deg-50"></div>
              <div class="line-2"></div>
            </div>
          </header>	<!-- end Mobil Header -->
          <div id="filter-archives">
            <div class="navi-left">
              <ul>
                <li>MARCH 2013</li>
                <li>FEBRUARY 2013</li>
                <li>JANUARY 2013</li>
                <li>DECEMBER 2012</li>
                <li>AUGUST 2012</li>
                <li>APRIL 2012</li>
                <li>JULY 2012</li>
                <li>JUNE 2012</li>
                <li>MAY 2012</li>
                <li>APRIL 2012</li>
                <li>MARCH 2012</li>
              </ul>
            </div>
          </div>
          <div id="filter-categorie">
            <div class="navi-left">
              <ul>
                <li>AUSTRALIA</li>
                <li>BRANDING</li>
                <li>ANDERSDENKEND</li>
                <li>DESIGN</li>
                <li>PHOTOGRAFIE</li>
                <li>UNCATEGORIEZIED</li>
                <li>VIDEO</li>
                <li>WEB DESIGN</li>
              </ul>
            </div>
          </div>						
        </div>	<!-- end blog-nav -->
        
        
        <!-- If you want more POSTS, please copy Post_1 or another 
        Post and rename it in id="right-blog-2", and so on -->
        <!--=================================
                POST 1 
        ==================================-->						
        <div id="right-blog">
          <div class="box-wrap antiscroll-wrap" >
            <div class="antiscroll-inner" > 
              <div class="inner-text" >
                <img src="images/blog/entry1_img1.jpg" width="400" height="200" alt="">
                <article class="block">
                  <h5>03 MARCH 2013</h5>
                  <div class="line-366">
                    <div class="line-1"></div>
                    <div class="deg-130"></div>
                    <div class="deg-50"></div>
                    <div class="line-2"></div>
                  </div>
                  <h4>EXAMPLE FOR A POST WITH IMAGE</h4>
                  <span>BY</span> <h3>DARREN CAUTHON</h3>
                  <p>Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards. This is Photoshop's version of Lorem Ipsum.</p>
                  <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
                  <img src="images/blog/entry1_img2.jpg" width="360" height="255" alt="">
                  <p>Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
                  <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. </p>
                  <i class="icon-tags icon-1x" ><span>DESIGN</span></i>
                </article>
                <article class="block-2" >
                  <header id="head-right-blog">
                    <i class="icon-comments" ></i>
                    <div class="line-366" >
                      <div class="line-1"></div>
                      <div class="deg-130"></div>
                      <div class="deg-50"></div>
                      <div class="line-2"></div>
                    </div>
                  </header>
                  
                  <!-- Start with first Post -->
                  <div class="post">
                    <div class="blog-post-1 first" >
                      <div class="blog-post-left" >
                        <img src="images/blog/potrait_thumb1.jpg" width="40" height="40" alt="" >
                        <h3 class="blogger" >JACK TRAUER</h3><br/>
                        <h4 class="blog-date" >04 Jan 2013 at 11:50pm</h4>
                      </div>
                      <div class="blog-post-right" >
                        <i class="icon-reply icon-1x" ></i>
                      </div>
                      <div class="blog-post-text" >
                        <p >Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards. This is Photoshop's version of Lorem Ipsum.</p>
                      </div>
                    </div>
                    <div class="blog-post-1 second" >
                      <div class="answer-1" ></div>
                      <div id="second-inner" >
                        <div class="blog-post-left" >
                          <img src="images/blog/potrait_thumb2.jpg" width="40" height="40" alt="" >
                          <h5 class="blogger" >DARREN CAUTHON</h5><br/>
                          <h4 class="blog-date" >05 Jan 2013 at 03:10pm</h4>
                        </div>
                        <div class="blog-post-right" >
                          <i class="icon-reply icon-1x" ></i>
                        </div>
                        <div class="blog-post-text" >
                          <p>This is Photoshop's version  of Lorem Ipsum. Overview and develop graphical standards.</p>
                        </div>
                      </div>
                    </div>
                    <div class="blog-post-1 third" >
                      <div class="answer-1" ></div>
                      <div id="third-inner" >
                        <div class="blog-post-left" >
                          <img src="images/blog/potrait_thumb1.jpg" width="40" height="40" alt="" >
                          <h3 class="blogger" >JACK TRAUER</h3><br/>
                          <h4 class="blog-date" >08 Jan 2013 at 7:10am</h4>
                        </div>
                        <div class="blog-post-right" >
                          <i class="icon-reply icon-1x" ></i>
                        </div>
                        <div class="blog-post-text" >
                          <p>Thank you! This is a truly great template. Good luck with sales!</p>
                        </div>
                      </div>
                    </div>
                  </div>	<!-- First Post -->	
                  
                  <!-- Second Post -->
                  <div class="post second-post" >
                    <div class="blog-post-1" >
                      <div class="blog-post-left" >
                        <img src="images/blog/potrait_thumb3.jpg" width="40" height="40" alt="" >
                        <h3 class="blogger" >Clarisa Hernandez</h3><br/>
                        <h4 class="blog-date" >31 Dez 2012 at 0:50am</h4>
                      </div>
                      <div class="blog-post-right" >
                        <i class="icon-reply icon-1x" ></i>
                      </div>
                      <div class="blog-post-text" >
                        <p >Developed a creative team to successfully execute design projects for large advertising campaigns. Overview and develop graphical standards. This is Photoshop's version of Lorem Ipsum.</p>
                      </div>
                    </div>
                  </div>	<!-- end Second Post -->
                </article>	<!-- end block-2 -->
                
                <footer class="footer-blog" >
                  <h5 >LEAVE A COMMENT</h5>
                  <div class="line-366">
                    <div class="line-1"></div>
                    <div class="deg-130"></div>
                    <div class="deg-50"></div>
                    <div class="line-2"></div>
                  </div>
                  <form >
                    <input id="cname" class="input-name" type="text" name="name" placeholder="NAME" required>
                    <input id="cemail" class="input-email" type="email" name="email" placeholder="EMAIL" required>
                    <input id="cweb" class="input-url" type="url" name="url" placeholder="WEBSITE" required>
                    <textarea id="ccomment" class="area-field" name="comment"  required></textarea>
                    <div class="line-366" style="margin-top:30px;">
                      <div class="line-1"></div>
                      <div class="deg-130"></div>
                      <div class="deg-50"></div>
                      <div class="line-2"></div>
                    </div>
                    <!-- <input class="send-button" type="submit" value="POST COMMENT" > -->
                  </form>		
                  <p >POST COMMENT</p>						
                </footer>
                <div class="top-button">BACK</div>
              </div>
            </div>
          </div>
        </div>	<!-- end blog-right -->		
      </div>	<!-- end BLOG -->
      
    </section> 

  </div>

</body>
