<title>Responsive Square vCard</title>
 
<!-- Meta Tags -->
<meta charset=utf-8>
<meta name=description content="Webworking by anders.denkend.net">
<meta name=keywords	content="HTML Templates">
<meta name=author content="anders.denkend.net">
<meta name=robots content="index, follow">
