<!--=========================================================================================================
                      H O M E  
==========================================================================================================-->				
<div id="home">
  <div id="content-left">
    <div class="tile-backward">
      <div class="tiles">
        <div class="live-tile" id="eins" data-mode="carousel" data-delay="4000" data-direction="horizontal" data-ani-direction="forward">
          <div><img src="images/gallery/thumb2.jpg" alt="" ></div>
          <div><img src="images/gallery/thumb7.jpg" alt="" ></div>
          <div><img src="images/gallery/thumb13.jpg" alt="" ></div>
        </div>
      </div>
    </div>
    <div id="vcard">
      <h1>DARREN CAUTHON</h1>
      <div class="line-366" >
        <div class="line-1"></div>
        <div class="deg-130"></div>
        <div class="deg-50"></div>
        <div class="line-2"></div>
      </div>
      <p>DEVELOPER</p>
    </div>
    <div class="tile-forward">
      <div class="tiles">
        <div class="live-tile" id="drei" data-mode="carousel" data-delay="4000" data-direction="horizontal" data-ani-direction="forward">
          <div><img src="images/gallery/thumb14.jpg" alt=""></div>
          <div><img src="images/gallery/thumb9.jpg" alt=""></div>
          <div><img src="images/gallery/thumb1.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="tiles">	<!-- Welcome -->
      <div class="tile-backward">
        <div class="live-tile" id="acht" data-mode="carousel"  data-delay="4000" data-direction="horizontal" data-ani-direction="backward">
          <div class="france"><img src="images/welcome1.png" alt=""></div>
          <div class="japan"><img src="images/welcome2.png" alt=""></div> 
          <div class="spane"><img src="images/welcome3.png" alt=""></div>
          <div class="german"><img src="images/welcome4.png" alt=""></div>
          <div class="arab"><img src="images/welcome5.png" alt=""></div>
          <div class="english"><img src="images/welcome6.png" alt=""></div>
          <div class="language"><img src="images/welcome7.png" alt=""></div>
        </div>
      </div>	
    </div>
  </div>	
</div>	<!-- end Home -->
