<%= erb :little_header %>

<!--=========================================================================================================
                      M A I N   N A V I 
==========================================================================================================-->		
<div id="navi">
  <div id="nav-home">
    <i class="icon-home icon-20x" ><span >HOME</span></i>
    <div class="line-120" >
      <div class="line-1"></div>
      <div class="deg-130"></div>
      <div class="deg-50"></div>
      <div class="line-2"></div>
    </div>
    <div class="nav-inner-home"></div>
  </div>
  <div id="nav-about">
    <i class="icon-user icon-4x" ><span >ABOUT ME</span></i>
    <div class="line-120" >
      <div class="line-1"></div>
      <div class="deg-130"></div>
      <div class="deg-50"></div>
      <div class="line-2"></div>
    </div>
    <div class="nav-inner-about"></div>
  </div>
  <div id="nav-portfolio">
    <i class="icon-lightbulb icon-4x" ><span >PORTFOLIO</span></i>
    <div class="line-120" >
      <div class="line-1"></div>
      <div class="deg-130"></div>
      <div class="deg-50"></div>
      <div class="line-2"></div>
    </div>
    <div class="nav-inner-portfolio"></div>
  </div>
  <div id="nav-blog">
    <i class="icon-book icon-4x" ><span >BLOG</span></i>
    <div class="line-120" >
      <div class="line-1"></div>
      <div class="deg-130"></div>
      <div class="deg-50"></div>
      <div class="line-2"></div>
    </div>						
    <div class="nav-inner-blog"></div>
  </div>
</div>	<!-- end Main Navi -->

