<!--==========================
    M A I N   N A V I 
===========================-->			
<nav id="navi">
  <div id="nav-home">
    <i class="icon-home icon-1x" ><span >HOME</span></i>
    <div class="nav-inner-home"></div>
  </div>
  <div id="nav-about">
    <i class="icon-user icon-4x" ><span >ABOUT ME</span></i>
    <div class="nav-inner-about"></div>
  </div>
  <div id="nav-portfolio">
    <i class="icon-lightbulb icon-4x" ><span >PORTFOLIO</span></i>
    <div class="nav-inner-portfolio"></div>
  </div>
  <div id="nav-blog">
    <i class="icon-book icon-4x" ><span >BLOG</span></i>						
    <div class="nav-inner-blog"></div>
  </div>
</nav>	<!-- end Main Navi -->
