<div class="element design pr1 width2 height2 ">
  <div class="tiles">
    <a class="foto" data-fancybox-group="design" href="images/gallery/image1.jpg" title="Image Preview" onfocus="this.blur()" >
      <span class="layer"></span>
    </a>
    <div class="live-tile" id="project-1" data-mode="carousel" data-delay="4000" data-direction="horizontal">
      <%= erb :project_text %>
      <%= erb :project_image %>
    </div>
  </div>	
</div>

