<div class="fancy-text-400 dark orangedark" >
  <a class="foto"  href="images/gallery/image1.jpg" title="Image Preview" onfocus="this.blur()" >
    PROJECT 01
  </a>
  <br/>
  <a class="foto" href="images/gallery/image1.jpg" title="Image Preview" onfocus="this.blur()" >
    DETAIL EXAMPLE
  </a>
  <h3 >DESIGN</h3>
  <p>2012</p>
</div>
