<div class="element design pr1 width2 height2 ">
  <div class="tiles">
    <a class="foto" data-fancybox-group="design" href="images/gallery/image1.jpg" title="Image Preview" onfocus="this.blur()" >
      <span class="layer"></span>
    </a>
    <div class="live-tile" id="project-1" data-mode="carousel" data-delay="4000" data-direction="horizontal">
      <div class="fancy-text-400 dark orangedark" >
        <a class="foto"  href="images/gallery/image1.jpg" title="Image Preview" onfocus="this.blur()" >
          PROJECT 01
        </a>
        <br/>
        <a class="foto" href="images/gallery/image1.jpg" title="Image Preview" onfocus="this.blur()" >
          DETAIL EXAMPLE
        </a>
        <h3 >DESIGN</h3>
        <p>2012</p>
      </div>
      <div>
        <a class="foto" href="images/gallery/image1.jpg" title="Image Preview" onfocus="this.blur()" >
          <img src="images/gallery/thumb1.jpg" width="400" height="400" alt="">
        </a>
      </div>
    </div>
  </div>	
</div>

